* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f7;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #eaeaea;
}

header h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

header p {
    font-size: 1em;
    color: #777;
}

header a {
    color: #007bff;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.8em;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills span {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

section {
    margin-bottom: 20px;
}

section h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
    color: #333;
}

section p {
    font-size: 1em;
    color: #666;
    margin-bottom: 15px;
}

.education-item {
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #666;
}

ul li {
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    header h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .skills {
        flex-direction: column;
    }
}
